body {
  background-color: black;
}
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    nav{
      background-color: gray;
      padding: 15px;
      padding-top: 30px;
      padding-bottom: 30px;
      margin: 30px;
      margin-left: 15%;
      margin-right: 15%;
      border-radius: 45px;
    }

    ul{
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    ul li a{
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-family: Arial, sans-serif;
      padding: 8px 15px;
      border-radius: 6px;
      transition: 0.3s;
      text-transform: uppercase;
    }

    ul li a:hover{
      background-color: black;
      color:white;
      border-radius: 30px;
    }
    img {
      height: 30px;
      width: 30px;
    }
    .section {
      color: lightgray;
    }
    .welcome{
      color: lightgray;
      text-decoration: underline;
      text-transform: uppercase;
      text-align: center;
    }
    .homePanel{
      height: 400px;
      width: 1520px;
    }
    .footer{
      color: gray;
      text-align: center;
      opacity: 0.5;
    }

    .button{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      height: 50px;
      font-size: 13px;
      text-transform: uppercase;
      color: aliceblue;
      background-color: grey;
      border-radius: 15px;
    }

    .button :hover{
        background-color: black;
      color:white;
    }