    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    nav{
      background-color: lightseagreen;
      padding: 15px;
    }

    ul{
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    ul li a{
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-family: Arial, sans-serif;
      padding: 8px 15px;
      border-radius: 6px;
      transition: 0.3s;
    }

    ul li a:hover{
      background-color: #38bdf8;
      color: black;
    }